
/* Estilo mejorado para toda la aplicación */

/* Definir una paleta de colores moderna */
:root {
  --primary-color: #007bff;
  --secondary-color: #dc3545;
  --background-color: #f4f7fc;
  --card-background-color: #ffffff;
  --text-color: #444;
  --button-hover-color: #0056b3;
  --shadow-color: rgba(0, 0, 0, 0.1);
}

body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

h1, h3 {
  text-align: center;
  color: var(--primary-color);
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.8em;
  margin-bottom: 15px;
}

/* Contenedores principales */
.container {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
}

.login-container, .empresa-container, .modulos-container {
  background-color: var(--card-background-color);
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 10px var(--shadow-color);
  width: 100%;
  text-align: center;
}

button {
  width: 100%;
  padding: 15px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--button-hover-color);
}

/* Estilo para las tarjetas de las empresas y modulos */
.empresa-card, .modulo {
  background-color: #ffffff;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  width: 200px;
  margin-bottom: 30px;
}

.empresa-card:hover, .modulo:hover {
  background-color: var(--primary-color);
  color: white;
  transform: scale(1.05);
}

/* Estilo para los bloques de formatos de etiqueta */
.formatos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.formato-bloque {
  background-color: var(--card-background-color);
  width: 200px;
  margin: 10px;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formato-bloque:hover {
  background-color: var(--primary-color);
  color: white;
}
